head{}
body{font-family: 'Dolbomche_B';}
#wrapper{position: relative;width: 100%;height: 100vh;}
#wrapper #header{width: 100%;height: 150px;border-bottom: 1px solid #5099f5;margin-bottom: 110px;display: flex;flex-direction: column;align-content: center;justify-content: center;align-items: center;}
#wrapper #header .header_wrap{display: flex;width: 100%;max-width: 1600px;justify-content:space-between;align-items: center;}
#wrapper #header .header_wrap .logo{width: 100px;height: 70px;}
#wrapper #header .header_wrap .menu_cont{display: flex;justify-content:space-between;align-items: center;}
#wrapper #header .header_wrap .menu_cont .depth_1{padding: 0 45px;font-family: 'Dolbomche_R';font-size: 30px;color: #00409a;}
#wrapper #header .header_wrap .menu_cont .depth_1 a{color: #00409a;}
#wrapper #header .header_wrap .menu_cont .depth_1 .depth_2{display: none;}
#wrapper #header .header_wrap .other_box{display: flex;justify-content: space-between;align-items: center;}
#wrapper #header .header_wrap .other_box .join_btn_box{display: flex;align-items: center;justify-content: space-between; width: 200px;margin-right: 50px;}
#wrapper #header .header_wrap .other_box .join_btn_box .user_go_btn{width: 50%;height: 30px;line-height: 30px; font-family: 'Dolbomche_R';color: #5099f5; border: 1px solid #5099f5;border-radius: 20px;text-align: center;}
#wrapper #header .header_wrap .other_box .join_btn_box .user_go_btn.on{background: #5099f5;color: #FFFFFF;}
#wrapper #header .header_wrap .other_box .join_btn_box .user_go_btn span{font-family: 'Dolbomche_R'; font-size: 15px;}
#wrapper #header .header_wrap .other_box .join_btn_box .user_go_btn .go_login{}
#wrapper #header .header_wrap .other_box .join_btn_box .user_go_btn .go_join{}
#wrapper #header .header_wrap .other_box .full_btn{display: block; width: 30px;height: 30px; display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: space-between;align-items: center;}
#wrapper #header .header_wrap .other_box .full_btn .bar{display: block;width: 100%;height: 3px;background: #5099f5;}

#wrapper #footer{width: 100%;height: 60px;background: #5099f5;margin-top: 150px;position: absolute;bottom: 0;}

#wrapper #wrap{}
#wrapper #wrap .container{}
#wrapper #wrap .container .section{}
#wrapper #wrap .container .section .cont_wrap{}

#wrap #sec01{}
#wrap #sec01 .cont_wrap{}
#wrap #sec01 .cont_wrap .login_box{width: 800px;height: 600px;margin: 0 auto; background: #FFFFFF;border-radius: 20px;-webkit-box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.01);-moz-box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.01);box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.01);}
#wrap #sec01 .cont_wrap .login_box .login_cont{text-align: center;padding: 60px 100px 50px;}
#wrap #sec01 .cont_wrap .login_box .login_cont .title{margin-bottom: 45px;}
#wrap #sec01 .cont_wrap .login_box .login_cont .title .title_text{font-size: 60px;color: #00409a;}
#wrap #sec01 .cont_wrap .login_box .login_cont .title p{}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box{}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .input_box_cont{display: flex;justify-content: flex-start;align-items: center; width: 600px;height:70px;padding: 5px 20px; margin-bottom: 25px; line-height: 70px; background: #e6e6e6;border-radius: 10px;text-align: left;}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .input_box_cont input{width: 100%; background: #e6e6e6;font-size: 25px;font-family: 'Dolbomche_R';padding: 0 0 0 20px;}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .input_box_cont input::placeholder{font-size: 25px;font-family: 'Dolbomche_R';}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .id_input{}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .id_input label{width:30px;height: 30px; background: url('../image/id_icon.png')no-repeat center center;background-size: 100% 100%;opacity: 0.6;}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .pw_input{}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .pw_input label{width:30px;height: 30px; background: url('../image/pw_icon.png')no-repeat center center;background-size: 100% 100%;opacity: 0.6;}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .save_box{display: flex;justify-content: flex-start;align-items: center;text-align: left;margin-bottom: 25px;font-family: 'Dolbomche_R';font-size: 20px;}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .save_box input[type="checkbox"]{width: 25px;height: 25px;background: url('../image/checkBox_off.png') no-repeat center center;background-size: 100% 100%;}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .save_box input[type="checkbox"] + label{padding-left: 10px;}
#wrap #sec01 .cont_wrap .login_box .login_cont .input_box .save_box input[type="checkbox"]:checked{background: url('../image/checkBox_on.png') no-repeat center center;background-size: 100% 100%;}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box{}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box .btn_cont{display: flex;justify-content: center;align-items: center;font-family: 'Dolbomche_R';font-size: 20px;}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box .go_btn{width: 600px;height:100px;background: #5099f5;color: #FFFFFF;text-align: center;line-height: 100px; font-family: "Dolbomche_B"; font-size: 36px;border-radius: 10px;margin-bottom: 25px;}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box .go_btn a{display: block;width: 100%;height: 100%;color: #FFFFFF;line-height: 100px;text-align: center;font-size: 36px;}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box .btn_cont a{display: flex;align-items: center;justify-content: center;}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box .btn_cont .cont_go{}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box .btn_cont .cont_go.join_go{}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box .btn_cont .cont_go.find_id{}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box .btn_cont .cont_go.find_id::after{display: inline-block;content:'';width: 1px;height: 20px;background: #808080;margin: 0 20px;}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box .btn_cont .cont_go.find_id::before{display: inline-block;content:'';width: 1px;height: 20px;background: #808080;margin: 0 20px;}
#wrap #sec01 .cont_wrap .login_box .login_cont .button_box .btn_cont .cont_go.re_pw{}